@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}

.container {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 300%;
    color: #1d1e22;
}

.featuring {
    font-weight: 700;
    font-size: 20px;
    padding-right: 10px;
    color: #252628;
}

.spotify {
    height: 30px;
    width: auto;
}

.cohost {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    margin-bottom: 5%;
    font-size: 15px;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10%;
}

.buttons {
    margin: 10px;
    height: 45px !important;
    width: 200px !important;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    background-color: black;
    color: white;
    border: solid 1px transparent;
    outline: none;
    cursor: pointer;
}

.buttons:hover {
    background-color: pink;
}