:root{
    --primary-color: #ff1d8e;
    --secondary-color: #0fd3cd;
    --tertiary-color: #001e7f;
}

body{
    font-size: 16px
}

h1, h2, h3 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: .5em
}

h2{
    font-size: 2.5em;
    margin-bottom: .3em;
}

h3{
    font-size: 2em;
    margin-bottom: .275em;
}

h4{
    font-size: 1.75em;
    margin-bottom: .25em;
}   

p{
    margin-bottom: 1em;
    line-height: 1.25em;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imgs/miami-bg.jpg) no-repeat center;
    background-size: cover;
    box-sizing: border-box
}

.main .contents {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    flex-basis: 450px
}

.mailchimp {
    margin-bottom: 15px
}

.mailchimp input {
    font-size: 18pt;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 100px;
    border: 3px solid transparent;
    outline: none;
    background: rgba(37, 30, 129, 0.7);
    /*    background: transparent;*/
    color: inherit;
    transition: .3s border-color ease-in, .3s background-color ease-in;
    box-sizing: border-box
}

.mailchimp input::placeholder {
    color: rgba(255, 255, 255, .5)
}

.mailchimp input:hover,
.mailchimp input:focus {
    border-color: white;
    background: rgba(37, 30, 129, 1);
}


.signup {
    font-size: 18pt;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    border: 3px solid transparent;
    outline: none;
    background: rgba(37, 30, 129, 1);
    border: 3px solid transparent;
    color: inherit;
    transition: .25s border-color ease-in, .3s background-color ease-in;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-decoration: none;
}

.signup:hover,
.signup:focus {
    border-color: white;
    /*     background: hsla(327, 80%, 44%, 1); */
}

.signup.open{
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-weight: bold
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #ff1f8c;
}

.logo {
    width: 75%;
    align-self: center;
    pointer-events: none;
    padding: 2%
}


.shellhacks.logo{
    width: 100%;
}


.date {
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    /*    margin: 4% auto*/
    margin-top: 20px
}

.date.location {
    margin: 2% auto 5%;
    font-size: 14pt;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 14pt;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.links .button {
    display: block;
    text-align: center;
    padding: 10px;
    background: rgba(37, 30, 129, 0.6);
    /* border: 2px solid white; */
    color: white;
    text-decoration: none;
    margin: 10px 10px 5px 10px;
    border-radius: 100px;
    min-width: 40%;
    flex: 1;
    flex-grow: 0;
}

.link-group {
    margin: 20px 0 0 0;
    text-align: center;
}

.link-group a {
    color: white;
}

.social-icons {
    font-size: 25px;
}

.page {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.page.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page.full {
    min-height: 100vh;
}

.page .contents {
    width: 100%;
    max-width: 960px;
}

.organizers{
/*    background: var(--tertiary-color);*/
    background: white;
    color: black;
}

.organizers h1{
    color: var(--tertiary-color)
}

.organizers .blurb{
    flex-shrink: 2;
    font-size: 120%
}

.organizers .contents{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.organizers .upe-logo{
    width: 100%;
    height: auto;
    transform: scale(.8)
}

.organizers .logo{
    flex-shrink: 1
}

.organizers a{
    color: var(--tertiary-color);
}

.organizers a:visited{
    color: var(--primary-color);
}

.event-schedule{
    display: flex;
    flex-direction: row;
    align-items:flex-start
}

.event-schedule em{
    font-style: italic;
}

.event-schedule > *{
    max-height: 520px;
    overflow-y: hidden
}

.event-schedule .events{
    flex-basis: 100%;
    width: 65%;
    height: 520px;
}

.event-schedule .description.panel{
    flex-basis: 80%;
    padding: 15px;
    margin-left: 35px;
    background-color: white;
    color: black;
    height: auto;
    overflow: auto
}

.event-schedule .event{

    background: linear-gradient(135deg, #001e7f 0%,#ff1d8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
    padding: 1em;
    cursor: pointer
}

.event-schedule .event:not(:last-of-type){
    margin-bottom: .75em;
}

.event-schedule .event .description{
    padding-top: 1em;
    overflow: hidden;
    display: none;
}

.event-schedule .event .snippet{
    height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.event-schedule .event .description *{
    font-size: 1em;
}

.event-schedule .event .location{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: .25em
}

.sponsors h1{
    text-align: center;
}

.sponsors.page {
    background: linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59);
    background-size: 115% 115%;
}

.sponsors img {
    max-width: 150px;
    max-height: 150px;
    margin: 15px
}

.sponsors .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.sponsors.current{
    background: white;
}

.sponsors.current h1{
    color: var(--tertiary-color)
}

.sponsors.current .contents > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}


.sponsors.current img{
    min-width: 150px
}

.sponsors.current .conch img{
    width: 520px;
    max-width: none;
}

.sponsors.current .cone img{
    width: 300px;
    max-width: none;
}

.sponsors.current .scallop img{
    width: 250px;
    max-width: none;
}

.sponsors.current .sand-dollar img{
    width: 200px;
    max-width: none;
}

.partner.asi, .partner.ieee img{
    filter: invert(1)
}

/*Company Specific Fixes*/


.faq {
    background: linear-gradient(to bottom left, #8e2de2, #4a00e0);
    font-size: 18px
}

.faq a{
    color: yellow;
}

.faq a:visited{
    color: orange;
}

.faq strong{
    font-weight: bold
}

.faq ol{
    list-style: decimal;
    list-style-position: inside
}

.faq li{
    padding-bottom: 10px;
}

.faq h2{
    word-wrap: break-word;
}

.faq .entry {
    padding-bottom: 1em;
}

.faq label{
    cursor: pointer
}

.faq .response{
    display: none;
}

.faq .checkbox {
    display: none
}

.faq .checkbox:not(:checked) ~ label h2:before{
    content: "+ ";
}

.faq .checkbox:checked ~ label h2:before{
    content: "\2013  ";
}


.faq .checkbox:checked ~ .response{
    display: block
}

.footer{
    color: black;
}

.footer div{
    padding: 15px;
}

@media(max-width: 800px){

    /* .event-schedule{
        display: flex;
        flex-direction: row;
    } */
    
    .event-schedule > .events{
        height: auto;
        max-height: none;
    /*    overflow-y: hidden*/
    }
    
    .event-schedule .ss-content{
        width: auto;
    }
    
    .event-schedule .description.panel{
        display: none;
    }
    
    .event-schedule .event.selected .snippet{
        display: none;
    }

    .event-schedule .event.selected .description{
        display: block;
    }

    
    .event-schedule .event:not(:last-of-type){
        margin-bottom: .75em;
    }
    
    .event-schedule .event .description{
        padding-top: 1em;
        overflow: hidden;
        display: none;
    }
    
    .event-schedule .event .snippet{
        height: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .event-schedule .event .description *{
        font-size: 1em;
    }
    
    .event-schedule .event .location{
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin-bottom: .25em
    }

}

@media (max-width: 600px) {
    
    h1{
        font-size: 2.25em;
    }
    
    h2{
        font-size: 1.7em;
    }
    
    .sponsors .logos {
        flex-direction: column
    }

    .sponsors img {
        margin: 0px;
    }
    
    .sponsors a {
        margin-bottom: 55px;
    }
    
    .sponsors.current > div img{
        width: 100% !important;
    }
    
    .organizers .contents{
        flex-direction: column
    }
    
    .organizers .upe-logo{
        transform: none;
    }
    
    

}
